/* Cores da página*/
:root {
 --color-one:#010203;
 --color-two:rgba(232,94,0,10%);
 --color-tree:#03060B;
 --color-four:#151B24;
 --color-five:#ECEFF2;
 --color-six:#768193;
 --color-seven:#07111b;
 --color-eight:#E85E00;

}
/**/

